@import "tailwindcss";
@plugin "@tailwindcss/typography";

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
}

.article-card:nth-child(n + 4) {
    display: none;
}

@media (min-width: 1024px) {
    .article-card:nth-child(-n + 8) {
        display: block;
    }
}
